.notas-pdf {
	margin: 2rem auto;
	overflow: hidden;
	position: relative;

	.contenido-notas-pdf {
		display: flex;
		transition: none 0s ease 0s;
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		background: var(--color-bg);

		&.active {
			cursor: grabbing;
		}

		.nota-pdf {
			scroll-snap-align: start;
			width: 100%;
			min-width: 100%;
			margin: 0 0 1rem 0;
			padding: .5rem;
			position: relative;

			a {
				figure {
					box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
					overflow: hidden;

					img {
						width: 100%;
						display: block;
					}
				}
			}

			&__data {
				padding: 1rem 0 0 0;
				position: relative;

				&__edicion {
					color: var(--color-base);
				}

				&__fecha {
					font-size: .8rem;
					margin: .5rem 0;
					padding: .2rem .5rem;
					background: var(--color-destacado);
					display: inline-block;
					color: var(--color-text);
				}

				&__temas {
					display: none;
				}

				&__descargar {
					position: absolute;
					bottom: 0.5rem;
					right: 0;
					text-indent: -9999px;
					background: url('images/pdf.png') 0 0 no-repeat;
					width: 56px;
					height: 30px;
					overflow: hidden;

					&:after {
						content: "\002192";
						float: right;
						width: 21px;
						height: 27px;
						display: block;
						text-indent: 0;
						font-size: 1.4rem;
						line-height: 1em;
						color: var(--color-text);
					}
				}
			}
		}
	}

	.swipe-please {
		width: 100%;
		height: 40px;
		background: url('images/swipe.gif') center 0 no-repeat;
		opacity: .25;
		margin: .5rem 0;
		font-size: .8rem;
	}

	@media screen and (min-width: 960px) {
		overflow: visible;

		.contenido-notas-pdf {
			background: transparent;
			display: block;
			overflow: visible;

			.nota-pdf {
				padding: .5rem;
				border-bottom: 1px solid var(--color-bg);
				margin: 0 0 2rem 0;
				padding-top: 0;
				border-radius: 5px;

				a {
					display: flex;

					figure {
						width: 150px;
						flex-basis: 150px;
						box-shadow: 0 2px 5px 0 rgb(0, 0, 0, .4);
						margin-bottom: 10px;
					}
				}

				&__data {
					display: flex;
					flex-direction: column;
					flex: 1 1 0;
					padding: 0 0 0 1rem;

					&__fecha {
						margin-right: auto;
					}

					&__temas {
						display: block;
						font-size: .9rem;
						color: var(--color-text);
						line-height: 130%;
					}

					&__descargar {
						position: static;
						text-indent: 0;
						width: 100%;
						height: auto;
						background: none;
						color: var(--color-misc);
						margin-top: auto;
					}
				}

				&:hover {
					box-shadow: 0 -.7rem 0 10px white, 0 -.3rem 25px 15px rgb(0, 0, 0, .12);
				}
			}
		}

		.swipe-please {
			display: none;
		}
	}
}

.notas-pdf-bajada {
	font-size: 1.2rem;
	line-height: 130%;
	margin: 1rem auto;
	text-align: center;
	max-width: 80%;

	a {
		color: var(--color-text);
		background: var(--color-destacado);
		padding-left: .2em;
		padding-right: .2em;

		&:hover {
			background: var(--color-link);
		}
	}
}