.item-landing-a {
	width: 100%;

	figure {
		width: 100%;
		margin-bottom: 1rem;

		img {
			width: 100%;
			height: auto;
		}
	}

	.text-content {
		font-size: 1.2rem;
		line-height: 140%;

		p {
			margin: 0 0 1rem 0;
		}

		a {
			color: var(--color-text);
			font-weight: bold;
			padding-left: .3rem;
			padding-right: .3rem;
			background: var(--color-destacado);

			&:hover {
				background: var(--color-link);
			}
		}
	}
}

@media screen and (min-width: 728px) {
	.item-landing-a {
		display: grid;
		gap: 1rem;
		grid-gap: 1rem;
		grid-template-columns: repeat(3, 1fr);

		figure {
			grid-column: 1/2;
		}

		.text-content {
			grid-column: 2/4;
			columns: 2;
		}
	}
}

@media screen and (min-width: 1028px) {
	.item-landing-a {
		gap: 2rem;
		grid-gap: 2rem;
	}
}

@media screen and (min-width: 1280px) {
	.item-landing-a {
		gap: 3rem;
		grid-gap: 3rem;

		.text-content {
			column-gap: 2rem;
			grid-column-gap: 2rem;
		}
	}
}