@font-face {
	font-family: "Destacado-fallback";
	size-adjust: 113.39999999999998%;
	ascent-override: 75%;
	src: local("Arial");
}

@font-face {
	font-family: "Base-fallback";
	size-adjust: 106.31%;
	ascent-override: 91%;
	src: local("Arial");
}

@font-face {
	font-family: 'Destacado';
	font-style: normal;
	font-weight: 100 900;
	src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2"),
		url("../fonts/Montserrat-VariableFont_wght.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: 'Base';
	font-style: italic;
	font-weight: 100 900;
	src: url("../fonts/MerriweatherSans-Italic-VariableFont_wght.woff2") format("woff2"),
		url("../fonts/MerriweatherSans-Italic-VariableFont_wght.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: 'Destacado';
	font-style: italic;
	font-weight: 100 900;
	src: url("../fonts/Montserrat-Italic-VariableFont_wght.woff2") format("woff2"),
		url("../fonts/Montserrat-Italic-VariableFont_wght.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: 'Base';
	font-style: normal;
	font-weight: 100 900;
	src: url("../fonts/MerriweatherSans-VariableFont_wght.woff2") format("woff2"),
		url("../fonts/MerriweatherSans-VariableFont_wght.woff") format("woff");
	font-display: swap;
}