.main-footer {
	background: var(--color-text);
	text-align: center;
	padding-bottom: 2rem;
	margin-top: 50px;

	figure {
		margin: 1rem 0;
	}

	p {
		font-size: .9rem;
		line-height: 1.5em;
		color: var(--color-bg);
		padding: 0 2rem;
	}

	&:before {
		content: "";
		display: block;
		height: 60px;
		width: 100%;
		background-color: var(--color-bg);
		background-image: url('images/genocidas-ante-tribunal.png');
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: contain;
		border-bottom: 20px solid var(--color-text);
	}

	@media screen and (min-width: 540px) {
		&:before {
			height: 100px;
		}
	}
}