.fotoslider {
	padding-bottom: 30px;

	&__titulo {
		font-size: 1.4rem;
		margin: .5rem 0;
		font-weight: bold;
	}

	&__contenedor {
		width: 100%;
		max-width: 100%;
		overflow: hidden;
		border-radius: 5px;
		position: relative;

		&__slider {
			display: flex;
			margin-left: -100%;
			transition: none 0s ease 0s;

			&__section {
				width: 100%;
				max-width: 100%;
				height: 0;
				position: relative;

				img {
					width: 100%;
					max-width: 100%;
					display: block;
					position: absolute;
					height: 100%;
					object-fit: cover;
				}

				figcaption {
					position: absolute;
					bottom: -1em;
					left: 0;
					right: 0;
					height: 0;
					transition: all .8s;
					padding: .5em 1em;
					background: rgba(var(--color-sombra), .7);
					color: white;
				}

				.togCheck {
					display: none;
				}

				.togButton {
					display: flex;
					justify-content: center;
					align-items: center;
					z-index: 999;
					margin: 0 auto -50px auto;
					width: 70px;
					height: 50px;
					background: rgba(0, 0, 0, .7);
					transform: translateY(-58px);
					margin-bottom: -50px;
					border-radius: 35px 35px 0 0;

					&:before {
						content: "";
						display: inline-block;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-bottom: 10px solid white;
						transition: ease .3s;
					}
				}

				.togCheck:checked+figcaption {
					height: auto;
					max-height: 100%;
					bottom: 0;
				}

				.togCheck:checked+figcaption>.togButton {
					&:before {
						transform: rotate(180deg);
					}
				}
			}
		}

		&__btn {
			position: absolute;
			width: 0;
			height: 0;
			top: 0;

			&.right {
				right: 0;
			}

			&.left {
				left: 0;
			}

			color: transparent;
		}
	}

	&__lista-sliders {
		list-style: none;
		margin: 0;
		padding: 0;
		background: rgba(var(--color-alfa-b), .05);

		.menu-sliders {
			position: relative;
			margin: 0;
			padding: 1rem;

			&__boton {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				background: transparent;
				border: none;
				padding: 0;
				margin: 0;
				cursor: pointer;
				text-indent: -9999px;
			}

			figure {
				width: 100%;
				display: flex;
				justify-content: space-between;

				img {
					flex-basis: 40%;
					width: 40%;
					margin: 0 .5rem 0 0;
				}

				figcaption {
					flex: 1 1 0;
				}
			}

			&:hover {
				background: rgba(var(--color-alfa-a), .1);
			}
		}
	}

	.lista-sliders-scroll {
		width: 100%;
		height: 300px;
		overflow-y: auto;
		position: relative;
		cursor: pointer;
	}

	&__boton {
		width: 0;
		height: 0;
		overflow: hidden;
		border: none;
		text-indent: -9999px;
	}

	@media screen and (min-width: 728px) {
		&__contenedor {
			&__slider {
				&__section {
					figcaption {
						bottom: 0;
						height: auto;

						.togButton {
							display: none;
						}
					}
				}
			}
		}

		&__lista-sliders {
			width: 100%;
			overflow-y: hidden;
			display: flex;
			position: relative;
			cursor: pointer;

			&.active {
				cursor: grabbing;
			}

			&::-webkit-scrollbar {
				display: none;
			}

			.menu-sliders {
				width: 250px;
				min-width: 250px;

				figure {
					flex-direction: column;
					align-items: flex-start;

					img {
						flex-basis: 100%;
						width: 100%;
						margin: 0 0 .3rem 0;
						border-radius: 5%;
						overflow: hidden;
					}

					figcaption {
						width: 100%;
					}
				}
			}

		}

		.lista-sliders-scroll {
			height: auto;
			overflow-y: hidden;
		}

		&__boton {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: rgba(var(--color-alfa-c), .3);
			overflow: visible;
			position: absolute;
			z-index: 9;
			top: 40%;
			justify-content: center;
			align-items: center;

			&:before {
				content: "";
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
			}

			cursor: pointer;

			&--left {
				left: 10px;

				&:before {
					margin-right: 4px;
					border-width: 12px 21px 12px 0;
					border-color: transparent white transparent transparent;
				}
			}

			&--right {
				right: 10px;

				&:before {
					margin-left: 4px;
					border-width: 12px 0 12px 21px;
					border-color: transparent transparent transparent white;
				}
			}

			&:hover {
				background: rgba(var(--color-alfa-c), .6);
			}
		}
	}

	@media screen and (min-width: 960px) {
		&__contenedor {

			&__btn {
				transform: translateY(-50%);
				top: 50%;
				width: 40px;
				height: 40px;
				background: rgba(var(--color-alfa-a), .5);
				border-radius: 50%;
				cursor: pointer;
				transition: ease .3s;
				display: flex;
				justify-content: center;
				align-items: center;

				&.right {
					right: 10px;

					&:after {
						content: "";
						display: inline-block;
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent;
						border-left: 18px solid black;
						transition: ease .3s;
						margin-left: 5px;
					}
				}

				&.left {
					left: 10px;

					&:after {
						content: "";
						display: inline-block;
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent;
						border-right: 18px solid black;
						transition: ease .3s;
						margin-right: 5px;
					}
				}

				&:hover {
					background: white;
				}
			}

			&__slider {
				&--galeria {
					min-height: 537px;
				}
			}

		}
	}

}


@media screen and (max-width: 960px) {
	.fotoslider__contenedor {
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
	}

	.fotoslider__contenedor .active {
		cursor: grabbing;
	}

	.fotoslider__contenedor::-webkit-scrollbar {
		display: none;
	}

	.fotoslider__contenedor__slider__section {
		scroll-snap-align: start;
	}
}