/* CONTENIDO */

.main-container {
	width: 100%;
	padding-top: 71px;

	&.scroled-down {
		padding-top: 0;
	}
}

h2 {
	text-align: center;
	padding: 2rem;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: .05em;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1rem;
}

.full-width {
	width: 100%;
	max-width: 100%;
}

.max-width,
.half-width,
.third-width {
	width: 100%;
	margin: auto;
}

.d-flex {
	display: flex;
}

.bg-destacado {
	background-color: #4e4f5a;
}

.bg-dark {
	background-color: var(--color-text);
}

.bg-misc {
	background-color: var(--color-misc);
}

.bg-medium {
	background-color: rgba(var(--color-sombra), .8);
}

.bg-white {
	background-color: white;
}

.text-invert-color {
	color: var(--color-bg);
}

.py-1 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.px-1 {
	padding-left: .5rem;
	padding-right: .5rem;
}

.px-2 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.align-center {
	text-align: center;
}

.wide {
	height: 56.25%;
	overflow: hidden;
}

.about {
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	padding: 40% 5% 5% 5%;
	h1 {
		border-radius: 3px;
		padding: 0 1rem;
		display: inline-block;
		font-size: 2.4rem;
		text-align: center;
		margin-bottom: 1rem;
		background: rgba(var(--color-alfa-c),.5);
	}

	p {
		border-radius: 3px;
		padding: 1.5rem;
		font-size: 1.2rem;
		background: rgb(var(--color-alfa-a));
		border: 1px solid rgba(var(--color-alfa-a), .15);
		color: var(--color-text);
	}
}

@media screen and (min-width: 540px) {

	.max-width,
	.third-width {
		max-width: 520px;
	}

	.half-width {
		width: 520px;
	}

	.px-sm-0 {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (min-width: 728px) {

	.max-width,
	.third-width {
		max-width: 708px;
	}

	.about {
		background-size: cover;
		background-position: center;
		padding: 28% 10% 2% 10%;

		h1 {
			font-size: 3rem;
		}

		p {
			border-radius: 3px;
			padding: 1.5rem;
			font-size: 1.4rem;
			background: rgba(var(--color-alfa-a), .8);
		}
	}

	.half-width {
		width: 50%;
	}
}

@media screen and (min-width: 960px) {

	.max-width,
	.third-width {
		max-width: 954px;
	}

	.half-width {
		width: 60%;
	}

	.about {
		padding: 16% 10% 2% 10%;
	}
}

@media screen and (min-width: 1028px) {

	.max-width,
	.third-width {
		max-width: 1008px;
	}

	.half-width {
		width: 50%;
	}
}


@media screen and (min-width: 1280px) {
	.max-width {
		max-width: 1260px;
	}

	.half-width {
		width: 40%;
	}

	.third-width {
		width: 70%;
	}
}