/* HEADER */

.header {
	width: 100%;
	margin: auto;
	background: white;
	position: fixed;
	z-index: 9;
	transform: none;
	box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .1);

	&.minified {
		transform: translateY(-75px);

		nav {
			display: none;
		}
	}
}

.main-header {
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem;

	.top-logo {
		width: 270px;

		img {
			width: 100%;
		}
	}

	.burger {
		width: 50px;
		padding: 0 10px;
		cursor: pointer;

		>div {
			background: var(--color-text);
			height: 2px;
			width: 30px;
			margin: 7px 0;
		}

		&.cerrar {
			>div {
				&:nth-child(2) {
					display: none;
				}

				&:first-child {
					transform: rotate(45deg) translate(7px);
				}

				&:last-child {
					transform: rotate(-45deg) translate(5px);
				}
			}
		}
	}

	&.scroled-down {
		padding: .5rem;

		.top-logo {
			width: 200px;
			padding-top: 5px;
		}
	}
}

/* MENU */

nav {
	width: 100%;
	background-color: var(--color-misc);
}

.nav-container {
	position: relative;

	ul {
		background-color: var(--color-misc);
		width: 200px;
		list-style: none;
		text-transform: uppercase;
		font-weight: bold;
		position: absolute;
		top: 0;
		left: 0;
		height: 0;
		overflow: hidden;

		&.mostrar {
			height: auto;
		}

		li {
			a {
				color: white;
				display: inline-block;
				padding: .5rem;
			}

			&:hover {
				background-color: var(--color-destacado);

				a {
					color: var(--color-text);
				}
			}
		}
	}
}


@media screen and (min-width: 540px) {
	.main-header {
		padding: 1rem 0;

		.burger {
			padding: 0;
		}

		.top-logo {
			width: 300px;
		}
	}
}

@media screen and (min-width: 728px) {
	.main-header {
		justify-content: center;

		.top-logo {
			width: 400px;
		}

		.burger {
			display: none;
		}
	}

	.nav-container ul {
		display: flex;
		justify-content: center;
		list-style: none;
		text-transform: uppercase;
		font-weight: bold;
		width: 100%;
		position: static;
		height: auto;
		overflow: visible;

		li {
			margin: 0 .5rem;
		}
	}
}