html,
body {
	background: var(--color-bg);
	color: var(--color-text);
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: ease .3s;
	font-family: var(--font-general);
}

h1,
h3,
h4,
h5,
h6 {
	font-weight: 800;
}

h2 {
	font-weight: normal;
}

a {
	text-decoration: none;
	border: none;
}