:root {
	--color-text: #000;
	--color-bg: #eeeeeb;
	--color-base: #ab0613;
	--color-misc: #0c4eb7;
	--color-destacado: #89ff00;
	--color-link: #ffe500;
	--color-alfa-a: 238, 238, 233;
	--color-alfa-b: 171, 6, 19; // rojo
	--color-alfa-c: 5, 41, 98; // azul
	--color-sombra: 0, 0, 0;
	--font-general: 'Base', 'Base-fallback';
}