.video-box {
	width: 100%;
	position: relative;

	&__player-container {
		width: 100%;

		.video-embed {
			width: 100%;
			height: 0;
			position: relative;

			&--16by9 {
				padding-bottom: 56.25%;
			}

			>iframe {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}
		}

		.text-content {
			height: 130px;
			overflow: hidden;
			padding-bottom: 40px;
			position: relative;
			transition: ease .5s;

			&.open {
				height: auto;
			}

			.abrir {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: auto;
				cursor: pointer;
				z-index: 9;
				padding: .3rem .7rem .5rem .7rem;
				background: var(--color-bg);
				border-top: 1px solid rgba(var(--color-alfa-b), .3);
				border-bottom: 1px solid rgba(var(--color-alfa-b), .3);
				text-align: right;
				box-shadow: 0 -10px 15px 0 rgba(var(--color-alfa-a), .8);

				.abrir-text-content {
					border: none;
					box-shadow: none;
					font-weight: bold;
					text-transform: uppercase;
					color: var(--color-base);

					&:after {
						content: "";
						display: inline-block;
						width: 0;
						height: 0;
						margin: 0 0 0 10px;
						border-style: solid;
						border-width: 12px 6px 0 6px;
						transition: ease .5s;
						border-color: var(--color-base) transparent transparent transparent;
					}

					&.cerrar {
						&:after {
							transform: rotate(180deg);
						}
					}
				}
			}
		}

		h3 {
			padding: .5rem;
		}

		p {
			padding: .5rem;
			margin-bottom: 1rem;
		}
	}

	&__lista {
		width: 100%;
		height: 300px;
		overflow-y: auto;
		position: relative;
		cursor: pointer;
		margin: 1rem 0;

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			background: rgba(var(--color-alfa-c), .05);

			li {
				padding: .5rem;
				font-size: 1rem;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				position: relative;

				img {
					flex-basis: 40%;
					width: 40%;
					margin: 0 .5rem 0 0;
				}

				span {
					display: inline-block;
					flex: 1 1 0;
				}

				button {
					position: absolute;
					border: none;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					background: transparent;
					text-indent: -9999px;
					overflow: hidden;
					cursor: pointer;
				}

				&:hover {
					background: rgba(var(--color-alfa-c), .05);
				}
			}
		}
	}

	&__text-global {
		padding: 1rem;

		h4 {
			font-size: 1.8rem;
			margin: 1rem 0;
		}

		p {
			font-size: 1.2rem;
			line-height: 140%;
			margin: 1rem 0;
		}
	}
}


@media screen and (min-width: 540px) {
	.video-box {
		&__lista {
			ul {
				li {
					padding: .5rem 0;
				}
			}
		}

		&:after {
			left: 0;
			right: 0;
		}
	}
}

@media screen and (min-width: 728px) {
	.video-box {
		&__lista {

			ul {
				li {
					img {
						flex-basis: 120px;
						width: 120px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1028px) {
	.video-box {
		display: grid;
		grid-template-areas:
			'player lista'
			'descripcion lista';
		grid-template-columns: 2fr 1fr;
		gap: 2rem;

		&__lista {
			margin: 0;
			grid-area: lista;
			-ms-overflow-style: none;
			/* IE and Edge */
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}

			height: auto;

			ul {
				li {
					padding: 0.5rem;
				}
			}
		}

		&__player-container {
			grid-area: player;
		}

		&__text-global {
			grid-area: descripcion;
		}
	}
}

@media screen and (min-width: 1280px) {
	.video-box {
		grid-template-columns: 5fr 2fr;
	}
}