@import "fonts.scss";
@import "variables.scss";
@import "reset.scss";
@import "general.scss";
@import "header.scss";
@import "footer.scss";
@import "diario-item.scss";
@import "diario-lista-pdf.scss";


.main-container {
	width: 100%;
}

h2 {
	text-align: center;
	padding: 1rem;
	font-size: 2rem;
}
h3 {
	font-size: 1.4rem;
}

/* CONTENIDO --> APERTURA PRINCIPAL */
.about {
	background-image: url('/assets/fotos/fotogaleria/slider-0/foto-06.jpg');
}
.ir {
	display: none;
}
.contenido-notas {
	.nota-perfil {
		background: white;
		margin: 0 0 2rem 0;
		a {
			figure {
				width: 100%;
				overflow: hidden;
				background: var(--color-text);
				img {
					width: 100%;
					display: block;
				}
			}
			h3 {
				color: var(--color-text);
				padding: 1rem;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&:hover {
			a {
				figure {
					img {
						transform: scale(1.06);
					}
				}
			}
		}
	}
}


@media screen and (min-width: 728px) {

	.contenido-notas {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
		gap: 2rem;
	}
}

@media screen and (min-width: 960px) {
	
	.ir {
		display: block;
		width: 100%;
		text-align: center;
		a {
			color: white;
			padding: 1rem;
			display: inline-block;
			position: relative;
			&:hover {
				background: var(--color-text);
			}
		}
	}

	#edicionxedicion,
	#notas-actualidad {
		height:100px;
	}
}