@import "fonts.scss";
@import "variables.scss";
@import "reset.scss";
@import "general.scss";
@import "header.scss";
@import "footer.scss";




/* CONTENIDO --> APERTURA PRINCIPAL */
.about {
	background-image: url('images/genocidas-ante-tribunal.jpg');
	padding: 60% 5% 5% 5%;

	p {
		border-radius: 3px;
		padding: 1.5rem;
		font-size: 1.2rem;
		background: rgb(var(--color-alfa-a));
		border: 1px solid rgba(var(--color-alfa-a), .15);
		color: var(--color-text);
	}
}

/* CONTENIDO --> MULTIMEDIA */
.multimedia {
	width: 100%;
	margin: auto;
	padding: 2rem 0;

	p {
		font-size: 1.2rem;
		line-height: 140%;
		margin: 1rem 0 0 0;

		&.last-paragraph {
			margin-bottom: -1000px;

			@media screen and (min-width: 728px) {
				margin-bottom: -700px;
			}

			@media screen and (min-width: 1028px) {
				margin-bottom: -600px;
			}

			@media screen and (min-width: 1280px) {
				margin-bottom: -500px;
			}

			&.open {
				margin-bottom: 20px;
			}
		}
	}

	&__container {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		overflow: hidden;
		position: relative;

		iframe {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			left: 0;
		}
	}

	&__text-content {
		padding: 1rem;
		overflow: hidden;
	}

	&__handler {
		font-size: 1rem;
		text-transform: uppercase;
		font-weight: bold;
		background: transparent;
		border: none;
		width: 100%;
		padding: 10px 0;
		margin: 0 0 20px 0;
		border-top: 1px solid rgba(var(--color-alfa-b), .3);
		border-bottom: 1px solid rgba(var(--color-alfa-b), .3);
		color: var(--color-base);
		box-shadow: 0 -15px 20px 15px rgba(var(--color-alfa-a), 1);
		cursor: pointer;

		&:after {
			content: "";
			display: inline-block;
			width: 0;
			height: 0;
			margin: 0 0 0 10px;
			border-style: solid;
			border-width: 12px 6px 0 6px;
			-webkit-transition: ease 0.5s;
			transition: ease 0.5s;
			border-color: var(--color-base) transparent transparent transparent;
		}

		&.cerrar {
			&:after {
				transform: rotate(180deg);
			}
		}
	}
}


/* CONTENIDO -->  TRES LINKS A CONTENIDOS */

.contenido-base {
	background: #fff;
	overflow: hidden;
	margin: 1.5rem 0;

	figure {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
		}
	}

	&:hover {
		box-shadow: 0 3px 15px 0 rgba(var(--color-sombra), .3);

		figure img {
			transform: scale(1.03);
		}
	}

	a h3 {
		color: var(--color-text);
		padding: 1rem;
	}
}



@media screen and (min-width: 540px) {
	.multimedia {
		width: 80%;
	}
}

@media screen and (min-width: 728px) {

	.about {
		padding: 28% 10% 2% 10%;

		p {
			border-radius: 3px;
			padding: 1.5rem;
			font-size: 1.4rem;
			background: rgba(var(--color-alfa-a), .8);
		}
	}

	.contenido-general {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}
}

@media screen and (min-width: 960px) {
	.multimedia {
		width: 70%;
	}
}

@media screen and (min-width: 1028px) {
	.contenido-general {
		gap: 2rem;
	}
}





@import "diario-item.scss";
@import "video-box.scss";
@import "fotoslider.scss";