@import "fonts.scss";
@import "variables.scss";
@import "reset.scss";
@import "general.scss";
@import "header.scss";
@import "footer.scss";


.main-container {
	width: 100%;
}

h2 {
	text-align: center;
	padding: 1rem;
	font-size: 2rem;
}

h3 {
	font-size: 1.4rem;
}

/* CONTENIDO --> APERTURA PRINCIPAL */
.about {
	background-image: url('images/alegato-cenital.jpg');
}

@import "video-box.scss";